
body {
    font-family: Arial;
    padding: 10px;
    font-size: 1.5rem;
    background:rgb(251,251,251);
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
  }

  h1,h2,h3,h4 {margin: .1rem 0;}

  h1 {font-size: 2.5rem;}

  h2 {font-size: 2rem;}

  h3 {font-size: 1.7rem;}

  h4 {font-size: 1.5rem;}

header{
    font-family: Tahoma;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    text-shadow: 1px 1px rgb(1, 75, 150);
    background-color: rgb(24,144,255);
}

header img{width:100%;}

nav {
    width: 100%;
    Position: relative;
    left:0%;
    background-color: rgb(1,14,40);
    font-size: 1.30rem;
    overflow: auto;
    border-top: 7px solid rgb(1,14,30);
    border-bottom: 7px solid rgb(1,14,30);
  }
  
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(1,14,30);
}

nav li {float: left;}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 

nav li a:hover {background-color: rgb(1, 75, 150);}

nav li a.active {background-color: rgb(24,144,255);}

article {   
  float: left;
  width: 65%;
  Position: relative;
  left:7.5%;
}

article  .first_heading{  text-align: center; color: rgb(24,144,255);}

article section
{
  padding: 10px;
  margin-top:25px;
  margin-bottom:25px;
}

.article__links{ color:rgb(24,144,255); }

.article__links:link{ text-decoration: none;}

.alt-example {
  width:100%;
  padding: 5px;

  display: flex;
  flex-flow: row;
  justify-content: center;
}

.alt-example__figure__img {
  position: relative;
  left: 12.5%;
  width:75%;
  height: 50%;
} 
    
.img_full{
  width: 90%;
  max-width: 585px;
  position: relative;
  left:10%;
  padding-top:1rem;
  padding-bottom:1rem;
}

.img_full2{
  width: 90%;
  max-width: 1000px;
  padding-top:1rem;
  padding-bottom:1rem;
}

.html_layout_table{
  text-align: center;
  margin: 10px;
  border-collapse:separate; 
  border-spacing:0.75rem;
  table-layout: fixed;
  width: 90%;
  position: relative;
  left: 5%;
}

.html_layout_table th, td{
  border-radius: 20px;
  text-align: center;
  background-color: rgb(24,144,255);
  padding: 1rem;
  width:50%
}

.html_layout_table th strong, td strong{ font-size:125%;}

.html_layout_table th .sub-column, td .sub-column{
  border-radius: 20px;
  text-align: center;
  background-color: rgb(1, 75, 150);
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top:0.75rem;
}

.html_layout_table .column1{width: 67%;}

.html_layout_table .column2{width: 33%;}

#disabilities {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  table-layout: auto;
  width: 90%;
  position: relative;
  text-align: center;
  left: 5%;
  font-size:85% ;
}

#disabilities td, #disabilities th {
  border: 2px solid #ddd;
  padding: 8px;
}

#disabilities th {
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-top:0.75rem;
  background-color:rgb(24,144,255);
  color: white;
}

#disabilities a{color:rgb(24,144,255);}

#disabilities a:link { text-decoration: none;}

#disabilities a:hover {  text-decoration: underline;}

#disabilities tr:nth-child(even){background-color: #f2f2f2;}

#disabilities tr:hover {background-color: #ddd;}

.code-example{
  background-color: rgb(255,255,255);
  border-style: solid;
  border-width: 3px;
  border-color: rgb(1, 75, 150);
  Margin: 10px;
  margin-top:1.5rem;
  margin-bottom:1.5rem;
  Padding: 15px;
  font-family: Consolas,monospace;
  font-size:90%;
}

.code-example strong{color:rgb(0,129,255);}

.code-example p{
  padding-top: 10px;
  padding-bottom:10px;
}

.code-example-list{Padding-left: 15px;}

aside {
  border-radius: 25px;
  float: right;
  width: 15%; 
  Position: relative;
  right:7.5%;
  padding: 10px;
  margin: 25px;
  margin-right: 0px;

  text-align: center;
  color: white; 
  background-color: rgb(24,144,255);
  opacity:0.95;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
} 

aside a {
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
} 

aside a .imgaside{
  max-width: 50%;
  max-height: 50%;
}

aside a:hover { background-color: rgb(1, 75, 150)}

footer {
  padding:40px 0;
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
  background-color:rgb(1,14,30);
  color: white;
}
footer ul{
  padding:0px;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
} 

footer #references{
  color: rgb(24,144,255);
}

footer a{
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

footer a:hover{opacity:1;}

footer #copyright{
  font-size: small;
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  margin-bottom:0;
}

footer hr{width: 50%;}

@media screen and (max-width: 800px) {

  body {
    font-size: 1rem;
  }

  article, aside, footer {   
    width: 100%;
    padding: 0px;
    left: 0%;
    right:0%;
  }

  nav{
    width:100%;
    left:0%;
  }
  nav li {float: none;}

  article{
    width:90%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%
  }

  .img_smaller{
    width: 75%;
    position: relative;
    left:12.5%;
    padding-top:1rem;
    padding-bottom:1rem;
  }

  .html_layout_table{
    width:100%;
    margin-left: 0px;
    left:0%;
    padding-left:0px;
  }

  .html_layout_table td .sub-column{font-size: 75%;}

  .alt-example {
    width:100%;
    padding-left:0px;
    margin-left:0px;

    display: flex;
    flex-flow: column wrap;
    justify-content: left;
  }  

  .alt-example__figure {
    text-align: left;
    width:100%;
    padding-left: 0px;
    margin-left:0px;
  } 
    .alt-example__figure__img {
      text-align: center;
      width:75%;
  }

  .img_full{
    width: 100%;
    padding-top:1rem;
    padding-bottom:1rem;
    left:0%;
  }
  .img_full2{
    width: 100%;
    padding-top:1rem;
    padding-bottom:1rem;
    left:0%;
  }
  
  #disabilities {
    table-layout: auto;
    width: 90%;
    text-align: left;
    left: 0%;
    font-size:85%;
  }

  aside{
    padding-bottom:15px;
    opacity:1;
    margin-bottom:0px;
    border-radius: 0px; 
    flex-flow: row wrap;
    justify-content:center;
  }
  
  aside .text{width:100%;}

  aside a {
    border-radius: 10px; 
    text-align: center;
    width:17%;
    height: 25%;
  }

  aside a .imgaside {
    width: 100%;
    height: 90%;
  }

  footer{
    margin-top:0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
    footer ul{
      padding-left:5%;
      padding-right:5%;
      
  }

}
