
body {
    font-family: Arial;
    padding: 10px;
    font-size: 1.5rem;
    background:rgb(251,251,251);
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
  }

  h1,h2,h3,h4 {
    margin: .1rem 0;
  }

    h1 {font-size: 2.5rem;}

    h2 {font-size: 2rem;}

    h3 {font-size: 1.7rem;}

    h4 {font-size: 1.5rem;
}

header{
    font-family: Tahoma;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    text-shadow: 1px 1px rgb(1, 75, 150);
    background-color: rgb(24,144,255);
}
  header img{
    width:100%;
  }

nav {
    width: 100%;
    Position: relative;
    left:0%;
    background-color: rgb(1,14,40);
    font-size: 1.30rem;
    overflow: auto;
    border-top: 7px solid rgb(1,14,30);
    border-bottom: 7px solid rgb(1,14,30);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(1,14,30);
  }

  nav li {
    float: left;
  }

    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    } 

      nav li a:hover {
        background-color: rgb(1, 75, 150);
      }
      nav li a.active {
        background-color: rgb(24,144,255);
}

article {   
  float: left;
  width: 65%;
  Position: relative;
  left:7.5%;
}

  article section
  {
    padding: 10px;
    margin-top:25px;
    margin-bottom:25px;
  }

    article section .article__links{
      color:rgb(24,144,255);
    }

    article section .alt-example {
      width:100%;
      padding: 5px;

      display: flex;
      flex-flow: row;
      justify-content: center;
  } 

    article section .alt-example__figure {
      text-align: left;
      width:50%
    } 
    article section .alt-example__figure__img {
      position: relative;
      left: 12.5%;
      width:75%;
  } 
    
  article section .img_full{
    width: 90%;
    max-width: 585px;
    position: relative;
    left:10%;
    padding-top:1rem;
    padding-bottom:1rem;
  }

  article section #html_layout_table{
    text-align: center;
    margin: 10px;
    border-collapse:separate; 
    border-spacing:0.75rem;
    table-layout: fixed;
    width: 90%;
    position: relative;
    left: 5%;
  }

    article section #html_layout_table td{
    border-radius: 20px;
    text-align: center;
    background-color: rgb(24,144,255);
    padding: 1rem;
    width:50%
    }

      article section #html_layout_table td strong{
        font-size:125% ;
      }

      article section #html_layout_table td .sub-column{
        border-radius: 20px;
        text-align: center;
        background-color: rgb(1, 75, 150);
        padding: 1rem;
        margin-bottom: 0.5rem;
        margin-top:0.75rem;
      }

      article section #html_layout_table #column1{width: 67%;}

      article section #html_layout_table #column2{width: 33%;
  }
  
  article section #disabilities {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    width: 90%;
    position: relative;
    text-align: center;
    left: 5%;
    font-size:85% ;
  }
  
    article section #disabilities td, article section #disabilities th {
      border: 2px solid #ddd;
      padding: 8px;
    }

      article section #disabilities th {
        padding: 1rem;
        margin-bottom: 0.5rem;
        margin-top:0.75rem;
        background-color:rgb(24,144,255);
        color: white;
    }

    article section #disabilities a{
      color:rgb(24,144,255);
    }

      article section #disabilities a:link {
        text-decoration: none;
      }
      article section #disabilities a:hover {
        text-decoration: underline;
    }
  
    article section #disabilities tr:nth-child(even){background-color: #f2f2f2;}
  
    article section #disabilities tr:hover {background-color: #ddd;
  }

  article section .code-example{
    background-color: rgb(255,255,255);
    border-style: solid;
      border-width: 3px;
      border-color: rgb(1, 75, 150);
    Margin: 10px;
    Padding: 10px;
    font-family: Consolas,monospace;
      font-size:1rem;
  }
  
  article section .code-example strong{
      color:rgb(0,129,255);
    }
  
    article section .code-example p{
      padding-top: 10px;
      padding-bottom:10px;
    }
    
    article section .code-example-list{
      Padding-left: 15px;
}

aside {
  border-radius: 25px;
  float: right;
  width: 15%; 
  Position: relative;
  right:7.5%;
  padding: 10px;
  margin: 25px;
  margin-right: 0px;

  text-align: center;
  color: white; 
  background-color: rgb(24,144,255);
  opacity:0.95;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;

} 

  aside a {
    border-radius: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  } 

    aside a .imgaside{
    max-width: 50%;
    max-height: 50%;
    }

    aside a:hover { background-color: rgb(1, 75, 150)
}

footer {
  padding:40px 0;
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
  background-color:rgb(1,14,30);
  color: white;
}
  footer ul{
    padding:0px;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
    } 

    footer #references{
      color: rgb(24,144,255);
    }

  footer a{
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }

    footer a:hover{
      opacity:1;
    }

  footer #copyright{
    font-size: small;
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    margin-bottom:0;
  }

  footer hr{
    width: 50%;
}

@media screen and (max-width: 800px) {
  article, aside, footer {   
    width: 100%;
    padding: 0px;
    left: 0%;
    right:0%;
  }

  nav{
    width:100%;
    left:0%;
  }
    nav li {
      float: none;
    }

  article section .img_smaller{
    width: 75%;
    position: relative;
    left:12.5%;
    padding-top:1rem;
    padding-bottom:1rem;
  }

  article section .alt-example {
    width:100%;
    padding-left:0px;
    margin-left:0px;

    display: flex;
    flex-flow: column wrap;
    justify-content: left;
  }  

    article section .alt-example__figure {
      text-align: left;
      width:100%;
      padding-left: 0px;
      margin-left:0px;
    } 
      article section .alt-example__figure__img {
        text-align: center;
        width:75%;
    }

  article section .img_full{
    width: 100%;
    padding-top:1rem;
    padding-bottom:1rem;
    left:0%;
  }
  
  article section #disabilities {
    table-layout: auto;
    width: 100%;
    text-align: center;
    left: 0%;
    font-size:65%;
  }

  aside{
    padding-bottom:15px;
    margin-bottom:0px;
    border-radius: 0px; 
    flex-flow: row wrap;
    justify-content:center;
  }
  
    aside .text{
      width:100%;
    }

    aside a {
      border-radius: 10px; 
      text-align: center;
      width:25%;
      height: 25%;
      
      margin-left: 0.5%;
      margin-right: 0.5%;
    }

      aside a .imgaside {
        width: 100%;
        height: 90%;
  }

  footer{
    margin-top: 0px;
    padding-top: 15px;
  }

}
