
body {
    font-family: Arial;
    padding: 10px;
    font-size: 1.5rem;
    background:rgb(255,255,255);
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
  }

header{
    padding: 30px;
    text-align: center;
}

nav {
    width: 100%;
    Position: relative;
    left:0%;
    background-color: rgb(1,14,40);
    overflow: auto;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(1,14,30);
  }

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } 

  nav li a:hover {
    background-color: rgb(1, 75, 150);
  }
  nav li a.active {
    background-color: rgb(0,129,255);
}

article {   
float: left;
width: 65%;
Position: relative;
left:7.5%;
}


article section
{
  padding: 10px;
  margin-top:25px;
  margin-bottom:25px;
}

article section .figure_column {
  float: left;
  width: 40%;
  padding: 5px;
}

article section .figure_row::after {
  content: "";
  clear: both;
  display: table;
}

article section .img_full{
  width: 60%;
  position: relative;
  left:20%;
  padding-top:1rem;
  padding-bottom:1rem;
}

aside {
float: right;
Position: relative;
right:7.5%;
width: 15%; 
background-color: rgb(0,129,255);
color: white; 
padding: 10px;
margin: 25px;
margin-right: 0px;
} 

aside ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

aside li
{
  float: left;
}

aside li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} 
aside li a .imgaside
{
max-width: 100%;
max-height: 100%;
}

aside li a:hover {
  background-color: #111;
}
aside li a.active {
  background-color: #4CAF50;
}



footer {
width: 100%;
float: left;
text-align: left;
margin-top: 20px;
background-color:rgb(1,14,30);
color: white;
}
  footer ul{
    list-style-type: none;
  } 
  
  footer a{
    color: rgb(0,129,255);
  }
  footer a:hover{
    color:rgb(1, 75, 150);
  }

.code-example{
  background-color: rgb(255,255,255);
  border-style: solid;
    border-width: 3px;
    border-color: rgb(1, 75, 150);
  Margin: 10px;
  Padding: 10px;
  font-size:1rem;
}
  .code-example strong{
    color:rgb(0,129,255);
  }
  .code-example p{
    padding-top: 10px;
    padding-bottom:10px;
  }
  .code-example-list{
    Padding-left: 15px;
}

article section #disabilities {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

article section #disabilities td, article section #disabilities th {
  border: 1px solid #ddd;
  padding: 8px;
}

article section #disabilities tr:nth-child(even){background-color: #f2f2f2;}

article section #disabilities tr:hover {background-color: #ddd;}

article section #disabilities th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 635px) {
  nav li {
    float: none;
  }
}

@media screen and (max-width: 800px) {
    article, aside, footer {   
    width: 100%;
    padding: 0;
    left: 0%;
    right:0%;
    }

    nav{
      width:100%;
      left:0%;
    }
    article section .img_smaller{
      width: 75%;
      position: relative;
      left:12.5%;
      padding-top:1rem;
      padding-bottom:1rem;
    }
    article section .img_full{
      width: 100%;
      padding-top:1rem;
      padding-bottom:1rem;
<<<<<<< Updated upstream
      left:0%;
    }
}

@media screen and (max-width: 1450px){
  article section .figure_column {
    float: none;
    width: 95%;
    position: relative;
    right: 5%;
    padding: 5px;
  }
  article section .figure_row::after {
    content: "";
    clear: none;
    display: none;
  }
  article section .figure_column img{
    position: relative;
    left:25%;
    width:50%;
  }
}
=======
      left: 0%;
    }
}
>>>>>>> Stashed changes
